.project
.settings/
server/.project
server/.settings/
server/org.openntf.xrest.libraries/.classpath
server/org.openntf.xrest.libraries/.project
server/org.openntf.xrest.libraries/.settings/
server/org.openntf.xrest.xsp/.classpath
server/org.openntf.xrest.xsp/.project
server/org.openntf.xrest.xsp.feature/.project
server/org.openntf.xrest.xsp.feature/.settings/
server/org.openntf.xrest.xsp.updatesite/.project
server/org.openntf.xrest.xsp.updatesite/.settings/
server/org.openntf.xrest.xsp/.settings/
server/org.openntf.xrest.libraries/lib/
server/org.openntf.xrest.libraries/target/
server/org.openntf.xrest.xsp.feature/target/
server/org.openntf.xrest.xsp.testsuite/.classpath
server/org.openntf.xrest.xsp.testsuite/.project
server/org.openntf.xrest.xsp.testsuite/.settings/
server/org.openntf.xrest.xsp.testsuite/target/
server/org.openntf.xrest.xsp.updatesite/target/
server/org.openntf.xrest.xsp/target/
server/target/
server/org.openntf.xrest.xsp.testsuite/lib/
designer/org.openntf.xrest.designer.updatesite/artifacts.jar
designer/org.openntf.xrest.designer.updatesite/content.jar
designer/org.openntf.xrest.designer.updatesite/features/
designer/org.openntf.xrest.designer.updatesite/plugins/
server/org.openntf.xrest.xsp.p2/.project
server/org.openntf.xrest.xsp.p2/.settings/
server/org.openntf.xrest.xsp.p2/target/category.xml
server/org.openntf.xrest.xsp.p2/target/
server/xrest.xsp.assembly/.project
server/xrest.xsp.assembly/.settings/
server/xrest.xsp.assembly/target/
snapshots/
server/org.openntf.xrest.xsp.swaggui/.classpath
server/org.openntf.xrest.xsp.swaggui/.project
server/org.openntf.xrest.xsp.swaggui/.settings/
server/org.openntf.xrest.xsp.swaggui/target/
server/org.openntf.xrest.xsp.swaggui/temp/swagger-ui/master
server/org.openntf.xrest.xsp.swaggui/temp/
server/org.openntf.xrest.xsp.feature.source/.settings/
assembly/target/
assembly/.settings/
assembly/.project