<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.xrest.xsp.swaggui.ResourceProvider"
            type="com.ibm.xsp.GlobalResourceProvider">
      </service>
   </extension>

</plugin>
